body {
  background-color: rgb(65, 69, 95);
}

a {
  cursor: pointer;
}

dialog {
  background-color: rgb(14, 51, 133);
  color: white;
  border-color: black;
}

.modal-container {
  height: 100%;
}

.description-container {
  background-color: bisque;
}

.description {
  color: black;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.modal-name {
  text-align: left;
}

.container-image,
.modal-image-container {
  background-color: rgb(101, 104, 129);
}

.modal-image-container {
  margin-bottom: 10px;
  position: relative;
}

.modal-image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.art-selector {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.grid-container:hover .container-image {
  filter: blur(2px);
}

.unowned {
  filter: brightness(70%);
}

.grid-container:hover .name {
  display: inline;
}

.grid {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.char-info {
  position: relative;
  background-color: darkblue;
  color: white;
}

.char-info * {
  margin: 5px;
}

.favorite {
  border: 3px solid gold;
}

.skill-container {
  width: 30%;
  text-align: center;
  align-items: center;
  margin-top: auto;
}

.selected {
  background-color: red;
}

.big img {
  object-fit: cover;
}

.art-button {
  height: 15px;
  width: 15px;
}

.name-filter,
.class-filter {
  display: none;
}

#filters,
header {
  background-color: darkblue;
}

#filters img {
  width: 70px;
  height: 70px;
}

.filtered {
  background-color: rgb(40, 40, 236);
}
